[buildout]

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone43.cfg

[versions]
zc.buildout = 2.5.3
setuptools = 27.3.0
# Pillow = 5.1.0

# manual pinnings
plone.recipe.codeanalysis = 3.0.1
backports.functools_lru_cache = 1.5
isort = 4.3.21
# 2.1.1 is the last supported version for Plone 4.3, but plone.app.contenttypes 1.1.6 is requirering <2.1.0:
plone.app.dexterity = <2.1.0
docutils = 0.14
plone.app.robotframework = 1.2.1
configparser = 3.5.3
plone.testing = 5.0.0
jsonschema = 2.6.0
###



# Added by buildout at 2020-01-15 13:37:43.593987
PyYAML = 5.3
argh = 0.26.2
createcoverage = 1.5
entrypoints = 0.3
flake8 = 3.7.9
mccabe = 0.6.1
pathtools = 0.1.2
pkginfo = 1.5.0.1
plone.app.dexterity = 2.0.19
plone.rest = 1.6.0
pycodestyle = 2.5.0
pyflakes = 2.1.1
watchdog = 0.9.0

# Required by:
# plone.restapi==6.2.0
PyJWT = 1.7.1

# Required by:
# plone.recipe.codeanalysis==3.0.1
check-manifest = 0.40

# Required by:
# zest.releaser==6.13.5
colorama = 0.4.3

# Required by:
# flake8==3.7.9
enum34 = 1.1.6

# Required by:
# flake8==3.7.9
# jsonschema==2.6.0
functools32 = 3.2.3.post2

# Required by:
# collective.behavior.sdg==1.0a1
plone.restapi = 6.2.0

# Required by:
# collective.behavior.sdg==1.0a1
plone.schema = 1.2.0

# Required by:
# check-manifest==0.40
toml = 0.10.0

# Required by:
# flake8==3.7.9
typing = 3.7.4.1

# Required by:
# collective.behavior.sdg==1.0a1
z3c.jbot = 0.8

# Added by buildout at 2020-01-15 13:49:51.542661
backports.shutil-get-terminal-size = 1.0.0
ipython = 5.8.0
ipython-genutils = 0.2.0
iw.debug = 0.3
prompt-toolkit = 1.0.16
ptyprocess = 0.6.0
simplegeneric = 0.8.1
traitlets = 4.3.2

# Required by:
# iw.debug==0.3
ipdb = 0.12.2

# Required by:
# ipython==5.8.0
pathlib2 = 2.3.3

# Required by:
# ipython==5.8.0
pexpect = 4.7.0

# Required by:
# ipython==5.8.0
pickleshare = 0.7.5

# Required by:
# pathlib2==2.3.3
scandir = 1.10.0

# Required by:
# prompt-toolkit==1.0.16
wcwidth = 0.1.7
